{
  "COOKIE_SECRET": "secure key",
  "CLOUDINARY_URL": "cloudinary://your_api_key:your_api_secret@your_cloud_name",
  "PORT": 3000,
  "MONGODB_REMOTE": "Path/User/Password_for_your_preferred_remotely_hosted_mongo_instance",
  "SQUARE_ACCESS_TOKEN": "your secure access token for square",
  "SQUARE_LOCATION": "unique square store id",
  "SQUARE_STORE_URL_NAME": "unique square store url slug"
}
