.postList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  list-style: none;
  padding-left:0;

  li {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .loadIcon {
    align-self: center;
  }
}

.dropCard {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
