.postList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  list-style: none;

  li {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .loadIcon {
    align-self: center;
  }
}
