.enter {
  opacity: 0.01;
  transition: opacity 250ms ease-in;

  &.enterActive {
    opacity: 1;
  }
}

.leave {
  opacity: 1;
  transition: opacity 250ms ease-in;

  &.leaveActive {
    opacity: 0.01;
  }
}

.appear {
  opacity: 0.01;
  transition: opacity 250ms ease-in;

  &.appearActive {
    opacity: 1;
  }
}
