.enter {
  opacity: 0.01;
  transform: translateY(-10px);
  transition: all 250ms ease;

  &.enterActive {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear {
  opacity: 0.01;
  transform: translateY(-10px);
  transition: all 250ms ease;

  &.appearActive {
    opacity: 1;
    transform: translateY(0);
  }
}
