.postArea {
  padding-top: 20px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.socialIcon {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.facebookIcon {
  composes: socialIcon;
  color: #3b5998;
}

.googlePlusIcon {
  composes: socialIcon;
  color: #dd4b39;
}

.twitterIcon {
  composes: socialIcon;
  color: #55acee;
}
