.postArea {
  padding-top: 20px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.dropCard {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
