.appWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  // Fill full window height so that navbar overlay doesn't end prematurely
  // and look ridiculous
  height: 100vh;
}

.alertSidebar {
  flex: 1;
}

// Ensure this panel fills all available space and can scroll vertically
.contentArea {
  flex: 1;
  overflow-y: auto;
  background-color: whitesmoke;
}

// Offset content by the (reduced) height of the AppBar
.contentPanel {
  padding-top: 3rem;
}
